<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hooks.css">
    <title>Data Hook's</title>
</head>
<body>
    <header>
        header
    </header>
    <nav>
        nav bar
    </nav>
    <aside>
        in response
        <ul th:each=" respuesta : ${respuestas}">
           <li th:each=" : ${respuesta.date}"></li>
        </ul>
    </aside>
    <main>main</main>
    <footer>footer</footer>
</body>
</html>