<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Form JMVV</title>
</head>
<body>
    
        <div class="login-body">
            <div class="login-banner">
                <img src="/assets/homero-neon.jpg" >
            </div>
            <form th:action="@{/login}" method="post" class="form-body">
                <div class="form-group">
                    <input type="text" name="username" id="username" required="required">
                    <span label>username</span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" required="required">
                    <span label>password</span>
                    <input id="eyeInput" type="checkbox" checked>
                    <label for="eyeInput" id="eye"></label>
                </div>   
                <div class="form-group">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
            <div th:if="${param.error}">
                Invalid username and password.</div>
            <div th:if="${param.logout}">
                You have been logged out.</div>
            </div>
    <script src="/scripts/in.js"></script>
</body>
</html>